<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dalian.sea.mapper.SysSequenceMapper">
  <resultMap id="BaseResultMap" type="com.dalian.sea.model.SysSequence">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sequence_id" jdbcType="BIGINT" property="sequenceId" />
    <result column="main_id" jdbcType="BIGINT" property="mainId" />
    <result column="box_id" jdbcType="BIGINT" property="boxId" />
  </resultMap>
</mapper>