<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dalian.sea.mapper.ZsProcessFormMapper">
  <resultMap id="BaseResultMap" type="com.dalian.sea.model.ZsProcessForm">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="process_form_id" jdbcType="BIGINT" property="processFormId" />
    <result column="work_process_id" jdbcType="BIGINT" property="workProcessId" />
    <result column="form_attribute_id" jdbcType="BIGINT" property="formAttributeId" />
  </resultMap>
</mapper>